%h1
  Ich will zum Meer ...

%h2
  ='... noch %.0f Kilometer bis zum Meer' % @closest.distance

%p
  ="von #{@from.city} nach #{@to.city}"

/ %script{:src => "http://platform.twitter.com/anywhere.js?id=U5l3QgisKZwwKFZyGq6dfg&v=1"}
/ #tbox
/ :javascript
/   twttr.anywhere(function (T) {
/     T("#tbox").tweetBox();
/   });

#map_canvas

%script
  ="from = {lat:#{@from.lat},lng:#{@from.lng}}"
  ="to = {lat:#{@to.lat},lng:#{@to.lng}}"

:javascript
  var map = new GMap2(document.getElementById("map_canvas"), { size: new GSize(1000,500) } );
  map.setCenter(new GLatLng(to.lat, to.lng), 11);