%h1 Viewing coast

%div[current_object]
  %p.name
    %strong Name
    = h current_object.name
  %p.country
    %strong Country
    = h current_object.country

= link_to 'Edit', edit_object_path
|
= link_to 'Destroy', object_path, :confirm => 'Really destroy coast?', :method => :delete
|
= link_to 'Back', objects_path
